USE [LMNBackup]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activityMaster]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activityMaster](
	[AmActivityId] [int] IDENTITY(1,1) NOT NULL,
	[AmActivityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_activityMaster] PRIMARY KEY CLUSTERED 
(
	[AmActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[connectorMou]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connectorMou](
	[CmouMouNo] [int] IDENTITY(1,1) NOT NULL,
	[CmouMouId] [int] NULL,
	[CmouRoleId] [int] NULL,
	[CmouCreatedBy] [int] NOT NULL,
	[CmouUpdatedBy] [int] NULL,
	[CmouCreatedDate] [datetime2](7) NOT NULL,
	[CmouUpdatedDate] [datetime2](7) NULL,
	[CmouMouVerionNo] [real] NULL,
	[CmouMouPath] [nvarchar](max) NULL,
	[CmouMouDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_connectorMou] PRIMARY KEY CLUSTERED 
(
	[CmouMouNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[institutionActivity]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institutionActivity](
	[ImSlno] [int] IDENTITY(1,1) NOT NULL,
	[ImInstitutionId] [int] NOT NULL,
	[ImActivityId] [int] NOT NULL,
	[ImInstitutionType] [nvarchar](max) NULL,
	[ImInstitutionAddress] [nvarchar](max) NULL,
	[ImInstitutionName] [nvarchar](max) NULL,
	[ImStudentStrength] [int] NOT NULL,
	[ImActivityName] [nvarchar](max) NULL,
	[ImAssignConnector] [nvarchar](max) NULL,
	[ImCreatedBy] [int] NOT NULL,
	[ImUpdatedBy] [int] NULL,
	[ImCreatedDate] [datetime2](7) NOT NULL,
	[ImUpdatedDate] [datetime2](7) NULL,
	[ImScheduleDate] [date] NOT NULL,
	[ImStudentParticipating] [int] NOT NULL,
	[NoOfDaysEvent] [int] NOT NULL,
	[ImEventVenue] [nvarchar](max) NULL,
	[ImIsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_institutionActivity] PRIMARY KEY CLUSTERED 
(
	[ImSlno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[institutionMaster]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institutionMaster](
	[ImInstitutionId] [int] IDENTITY(1,1) NOT NULL,
	[ImInstitutionType] [nvarchar](max) NOT NULL,
	[ImInstitutionAddress] [nvarchar](max) NOT NULL,
	[ImInstitutionName] [nvarchar](max) NOT NULL,
	[ImStudentStrength] [int] NOT NULL,
	[ImInstitutionStatus] [nvarchar](max) NULL,
	[ImPrincipalName] [nvarchar](max) NOT NULL,
	[ImPrincipalContact] [nvarchar](max) NOT NULL,
	[ImPrincipalEmail] [nvarchar](max) NOT NULL,
	[ImOtherName] [nvarchar](max) NOT NULL,
	[ImOtherDesignation] [nvarchar](max) NOT NULL,
	[ImOtherEmail] [nvarchar](max) NULL,
	[ImOtherContact] [nvarchar](max) NULL,
	[ImAssignConnector] [nvarchar](max) NULL,
	[ImCreatedBy] [int] NOT NULL,
	[ImUpdatedBy] [int] NULL,
	[ImCreatedDate] [datetime2](7) NOT NULL,
	[ImUpdatedDate] [datetime2](7) NULL,
	[ImMouStatus] [nvarchar](max) NULL,
	[ImIsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_institutionMaster] PRIMARY KEY CLUSTERED 
(
	[ImInstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[institutionMou]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institutionMou](
	[ImoMouNo] [int] IDENTITY(1,1) NOT NULL,
	[ImoMouId] [int] NULL,
	[ImoInstitutionId] [int] NULL,
	[ImoCreatedBy] [int] NULL,
	[ImoUpdatedBy] [int] NULL,
	[ImoCreatedDate] [datetime2](7) NULL,
	[ImoUpdatedDate] [datetime2](7) NULL,
	[ImoMouVerionNo] [real] NOT NULL,
	[ImoMouPath] [nvarchar](max) NULL,
	[ImoMouDescription] [nvarchar](max) NULL,
	[ImoUploadedMou] [nvarchar](max) NULL,
	[ImoDownloadedMou] [nvarchar](max) NULL,
 CONSTRAINT [PK_institutionMou] PRIMARY KEY CLUSTERED 
(
	[ImoMouNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meetingsMaster]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meetingsMaster](
	[MmMeetingId] [int] IDENTITY(1,1) NOT NULL,
	[MmInstitutionId] [int] NOT NULL,
	[MmMeetingDescritpion] [nvarchar](max) NULL,
	[MmCreatedBy] [int] NOT NULL,
	[MmCreatedDate] [datetime2](7) NULL,
	[MmMeetingScheduleDate] [date] NULL,
	[MmUpdatedBy] [int] NULL,
	[MmInstitutionResponded] [nvarchar](max) NULL,
	[MmUpdatedDate] [datetime2](7) NOT NULL,
	[MmInstitutionAddress] [nvarchar](max) NULL,
	[MmMeetingTime] [time](7) NULL,
	[MmMeetingType] [nvarchar](max) NULL,
	[MmMeetingStatus] [nvarchar](max) NULL,
	[MmMeetingConducted] [bit] NOT NULL,
	[MmmeetingOutcome] [nvarchar](max) NOT NULL,
	[MmIsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_meetingsMaster] PRIMARY KEY CLUSTERED 
(
	[MmMeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mouMaster]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mouMaster](
	[MoumMouId] [int] IDENTITY(1,1) NOT NULL,
	[MoumMouName] [nvarchar](max) NULL,
	[MoumMouDescription] [nvarchar](max) NULL,
	[MoumMouPath] [nvarchar](max) NULL,
	[MoumCreatedBy] [int] NOT NULL,
	[MoumCreatedDate] [datetime2](7) NOT NULL,
	[MoumUpdatedBy] [int] NULL,
	[MoumUpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_mouMaster] PRIMARY KEY CLUSTERED 
(
	[MoumMouId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employee_master]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee_master](
	[em_id] [int] IDENTITY(1,1) NOT NULL,
	[em_name_e] [nvarchar](max) NULL,
	[em_name_k] [nvarchar](max) NULL,
	[em_contact_number] [nvarchar](max) NULL,
	[em_role_id] [int] NULL,
	[em_email_address] [nvarchar](max) NULL,
	[em_residencial_address] [nvarchar](max) NULL,
	[em_joining_date] [datetime2](7) NULL,
	[em_end_date] [datetime2](7) NULL,
	[em_is_active] [bit] NULL,
	[em_created_by] [int] NULL,
	[em_updated_by] [int] NULL,
	[em_created_date] [datetime2](7) NULL,
	[em_updated_date] [datetime2](7) NULL,
	[em_gender] [nvarchar](max) NOT NULL,
	[dob] [date] NOT NULL,
 CONSTRAINT [PK_tbl_employee_master] PRIMARY KEY CLUSTERED 
(
	[em_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_role_master]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role_master](
	[rm_id] [int] IDENTITY(1,1) NOT NULL,
	[rm_name_e] [nvarchar](max) NULL,
	[rm_name_k] [nvarchar](max) NULL,
	[rm_is_active] [bit] NULL,
	[rm_created_by] [int] NULL,
	[rm_updated_by] [int] NULL,
	[rm_created_date] [datetime2](7) NULL,
	[rm_updated_date] [datetime2](7) NULL,
 CONSTRAINT [PK_tbl_role_master] PRIMARY KEY CLUSTERED 
(
	[rm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_login_details]    Script Date: 14-05-2025 13:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_login_details](
	[uld_id] [int] IDENTITY(1,1) NOT NULL,
	[uld_contact_number] [nvarchar](max) NULL,
	[uld_otp] [nvarchar](max) NULL,
	[uld_otp_time] [datetime2](7) NULL,
	[uld_employee_id] [int] NULL,
	[uld_password] [nvarchar](max) NULL,
	[uld_is_active] [bit] NULL,
	[uld_created_by] [int] NULL,
	[uld_updated_by] [int] NULL,
	[uld_created_date] [datetime2](7) NULL,
	[uld_updated_date] [datetime2](7) NULL,
 CONSTRAINT [PK_tbl_user_login_details] PRIMARY KEY CLUSTERED 
(
	[uld_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250514062327_without institutionactivity', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250514062510_without institutionactivity 2', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250514062803_with institutionAtivity', N'9.0.4')
GO
SET IDENTITY_INSERT [dbo].[activityMaster] ON 

INSERT [dbo].[activityMaster] ([AmActivityId], [AmActivityName]) VALUES (1, N'ISE Program')
INSERT [dbo].[activityMaster] ([AmActivityId], [AmActivityName]) VALUES (2, N'Ind-Aus Deligation Program')
INSERT [dbo].[activityMaster] ([AmActivityId], [AmActivityName]) VALUES (3, N'Annual Day')
SET IDENTITY_INSERT [dbo].[activityMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[institutionActivity] ON 

SET IDENTITY_INSERT [dbo].[institutionActivity] OFF
GO
SET IDENTITY_INSERT [dbo].[institutionMaster] ON 

SET IDENTITY_INSERT [dbo].[institutionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[meetingsMaster] ON 

SET IDENTITY_INSERT [dbo].[meetingsMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_employee_master] ON 

INSERT [dbo].[tbl_employee_master] ([em_id], [em_name_e], [em_name_k], [em_contact_number], [em_role_id], [em_email_address], [em_residencial_address], [em_joining_date], [em_end_date], [em_is_active], [em_created_by], [em_updated_by], [em_created_date], [em_updated_date], [em_gender], [dob]) VALUES (2, N'Abhi', NULL, N'8105650176', 3, N'abhiba2395@gmail.com', N'Bangalore', CAST(N'2025-05-14T12:17:05.4300000' AS DateTime2), NULL, 1, 1, NULL, CAST(N'2025-05-14T12:17:05.4300000' AS DateTime2), CAST(N'2025-05-14T12:17:05.4300000' AS DateTime2), N'Male', CAST(N'1995-05-23' AS Date))
INSERT [dbo].[tbl_employee_master] ([em_id], [em_name_e], [em_name_k], [em_contact_number], [em_role_id], [em_email_address], [em_residencial_address], [em_joining_date], [em_end_date], [em_is_active], [em_created_by], [em_updated_by], [em_created_date], [em_updated_date], [em_gender], [dob]) VALUES (3, N'Satish Kumar', NULL, N'7795845607', 3, N'satishk02122003@gmail.com', N'Bangalore', CAST(N'2025-05-14T12:56:03.8833333' AS DateTime2), NULL, 1, 1, NULL, CAST(N'2025-05-14T12:56:03.8833333' AS DateTime2), CAST(N'2025-05-14T12:56:03.8833333' AS DateTime2), N'Male', CAST(N'2003-12-02' AS Date))
INSERT [dbo].[tbl_employee_master] ([em_id], [em_name_e], [em_name_k], [em_contact_number], [em_role_id], [em_email_address], [em_residencial_address], [em_joining_date], [em_end_date], [em_is_active], [em_created_by], [em_updated_by], [em_created_date], [em_updated_date], [em_gender], [dob]) VALUES (4, N'Adithiya S', NULL, N'8095924950', 1, N'adi@gmail.com', NULL, CAST(N'2025-05-14T07:33:48.0860000' AS DateTime2), NULL, 1, NULL, NULL, CAST(N'2025-05-14T13:04:33.6987294' AS DateTime2), CAST(N'2025-05-14T07:33:48.0860000' AS DateTime2), N'Male', CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_employee_master] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_role_master] ON 

INSERT [dbo].[tbl_role_master] ([rm_id], [rm_name_e], [rm_name_k], [rm_is_active], [rm_created_by], [rm_updated_by], [rm_created_date], [rm_updated_date]) VALUES (1, N'Connector', NULL, 1, NULL, NULL, CAST(N'2025-05-14T12:08:41.8866667' AS DateTime2), NULL)
INSERT [dbo].[tbl_role_master] ([rm_id], [rm_name_e], [rm_name_k], [rm_is_active], [rm_created_by], [rm_updated_by], [rm_created_date], [rm_updated_date]) VALUES (2, N'Telecaller', NULL, 1, NULL, NULL, CAST(N'2025-05-14T12:08:41.8900000' AS DateTime2), NULL)
INSERT [dbo].[tbl_role_master] ([rm_id], [rm_name_e], [rm_name_k], [rm_is_active], [rm_created_by], [rm_updated_by], [rm_created_date], [rm_updated_date]) VALUES (3, N'Admin', NULL, 1, NULL, NULL, CAST(N'2025-05-14T12:08:41.8933333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[tbl_role_master] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user_login_details] ON 

INSERT [dbo].[tbl_user_login_details] ([uld_id], [uld_contact_number], [uld_otp], [uld_otp_time], [uld_employee_id], [uld_password], [uld_is_active], [uld_created_by], [uld_updated_by], [uld_created_date], [uld_updated_date]) VALUES (1, N'8105650176', N'1234', CAST(N'2025-05-14T12:19:45.8633333' AS DateTime2), 2, NULL, 1, NULL, NULL, CAST(N'2025-05-14T12:19:45.8633333' AS DateTime2), NULL)
INSERT [dbo].[tbl_user_login_details] ([uld_id], [uld_contact_number], [uld_otp], [uld_otp_time], [uld_employee_id], [uld_password], [uld_is_active], [uld_created_by], [uld_updated_by], [uld_created_date], [uld_updated_date]) VALUES (2, N'7795845607', N'1234', CAST(N'2025-05-14T12:58:26.0500000' AS DateTime2), 3, NULL, 1, NULL, NULL, CAST(N'2025-05-14T12:58:26.0500000' AS DateTime2), NULL)
INSERT [dbo].[tbl_user_login_details] ([uld_id], [uld_contact_number], [uld_otp], [uld_otp_time], [uld_employee_id], [uld_password], [uld_is_active], [uld_created_by], [uld_updated_by], [uld_created_date], [uld_updated_date]) VALUES (3, N'8095924950', N'1235', CAST(N'2025-05-14T13:09:34.0816865' AS DateTime2), 4, NULL, 1, NULL, NULL, CAST(N'2025-05-14T13:04:34.0815828' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[tbl_user_login_details] OFF
GO
